<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789578657510-4srqtcf6qlk22cb1m06lrasg7fnq7kai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789578657510-4srqtcf6qlk22cb1m06lrasg7fnq7kai</string>
	<key>API_KEY</key>
	<string>AIzaSyA7aZFV4KolvSpWB8-mgF8OIeOo_jveB-s</string>
	<key>GCM_SENDER_ID</key>
	<string>789578657510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pmm.wechatRedesign</string>
	<key>PROJECT_ID</key>
	<string>wechat-redesign</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-redesign.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789578657510:ios:e8b44391bfb52410625527</string>
</dict>
</plist>